* {
	box-sizing: border-box;
}

.wrap {
	width: 1000px;
	height: 100%;
	/* background-color: tomato; */
	margin: 0 auto;
}

.title {
	padding-top: 80px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #999;
	padding-bottom: 100px;
}

.react {
	margin-top: 20px;
	text-align: center;
}

.clock {
	text-align: center;
	font-size: 150%;
	padding-top: 20px;
	/* background-color: teal; */
}

.todo-write {
	margin-top: 50px;
	width: 450px;
	height: 450px;
	/* background-color: teal; */
	float: left;
}

.todo-write p {
	font: 30px 'arial';
	text-align: center;
	opacity: 0.9;
}

.todo-write form {
	position: relative;
	text-align: center;
	/* background-color: pink; */
}

.todo-write form input {
	width: 400px;
	height: 50px;
	padding-left: 10px;
	font-size: 110%;
}

.todo-write form button {
	position: absolute;
	right: 30px;
	top: 5px;
	width: 70px;
	height: 40px;
	font: 14px 'arial';
	border-radius: 5px;
	border: 0px none;
	background-color: pink;
}

.todo-done {
	margin-top: 50px;
	width: 450px;
	height: 450px;
	background-color: pink;
	float: right;
	border: 1px solid slateblue;
	box-shadow: 0 10px 16px 0 rgba(255, 73, 73, 0.35);
}

.todo-done p {
	font: 30px 'arial';
	text-align: center;
	opacity: 0.9;
}